<div class="feelings_index">
  <!-- <div class="row">
    <div class="medium-12 medium-centered columns"> -->
      <h2>Feelings Index</h2>
    <!-- </div>
  </div> -->

  <!-- <div class="row">
    <div class="medium-12 medium-centered columns"> -->
      <table>
        <tr>
          <th>Rating</th>
        </tr>
          <% @feelings.each do |item| %>
          <tr>
          <td><%= item.level %></td>
          </tr>
        <% end %>
      </table>
    <!-- </div>
  </div> -->
  <br>
  <%= link_to "See your levels", levels_path, class: "button radius tiny" %>
</div>
