<div class="levels_index">
  <!-- <div class="row"> -->
    <!-- <div class="medium-12 medium-centered columns"> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row"> -->
    <!-- <div class="medium-12 medium-centered columns"> -->
      <table>
        <h3>Unhappiness for <%= @feeling.category %></h3>
        <tr>
          <th>Level</th>
        </tr>
          <% [@levels].each do |level| %>
          <tr>
          <td><%= level.amount %></td>
          </tr>
        <% end %>
      </table>
    <!-- </div> -->
  <!-- </div> -->
  <br>
  <%= link_to "Index", feelings_path, class: "button radius tiny" %>
</div>
