<div class="levels_index">
  <!-- <div class="row"> -->
    <!-- <div class="medium-12 medium-centered columns"> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- <div class="row"> -->
    <!-- <div class="medium-12 medium-centered columns"> -->
      <table>
        <h3>Your unhappiness <%= current_user.email%></h3>
        <tr>
          <th>Level</th>
        </tr>
          <% @levels.each do |item| %>
          <tr>
          <td><%= item.amount %></td>
          </tr>
        <% end %>
      </table>
    <!-- </div> -->
  <!-- </div> -->
  <%= link_to "Add an amount", new_level_path, class: "button radius tiny" %>
  <br>
  <%= link_to "Index", feelings_path, class: "button radius tiny" %>
</div>
