/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides


 */
@font-face {
  font-family: 'Growl'; /*a name to be used later*/
  src: url('growl.ttf') format(''); /*URL to font*/
 }

.feelings_index {
  font-family: growl;
}

.levels_index {
  font-family: growl;
}

.field {
  color: white;
  font-family: growl;
}

.actions {
  color: white;
  font-family: growl;
}

h1, h2, h3, h4 {
  color: white;
  font-family: Growl;
   font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
}

.form_errors {
  color: white;
  font-family: growl;
}

.top-bar {
  /* background-color: #635454; */
  background-color: #000000;
  font-family: growl;
}

.top-bar li {
  /* background-color: #635454; */
  background-color: #000000;
}

li {
  color: white;
  font-family: growl;
}
